{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ 'G:/Gitlab/symfony-docker-dev-node-composer-php/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ 'G:/Gitlab/symfony-docker-dev-node-composer-php/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
